#../icon/cmp.obj
#icon64.obj
#icon.obj

/MT
#/DCONTEXT=void
#/DPCONTEXT=void*
#/arch:ia32 
#/arch:SSE2
#/QxHOST
#/QxN
#/arch:SSSE3
#/QxSSE3

#/D_X86_

#/FAs

#/Og
/Ob2ity
/O3 /Qipo
/GF /GA /GL
/Gy 
/GS- /GR- 
#/GX-
/EHs-c-a- /Qsafeseh-
/Gr
/Oa
/Qopt-multi-version-aggressive
/Qopt-ra-region-strategy:routine
/Qopt-subscript-in-range
/Qvla
/Qintel-extensions
/Qopt-mem-layout-trans:3
/Qopt-dynamic-align
/Qinline-calloc
/Qfnalign:16
/Qcomplex_limited_range
/Qunroll-aggressive
/Qalias-const
/Qopt-multi-version-aggressive
/Qopt-subscript-in-range


/Qlong_double
/Qrestrict
/Qvc9
/Qstd=c++14

/wd791

#/Qvec_report2

/D_CRT_SECURE_NO_WARNINGS
/D_CRT_SECURE_NO_DEPRECATE
/D_CRT_DISABLE_PERFCRIT_LOCKS
/D_CRT_NONSTDC_NO_DEPRECATE
/D_SECURE_SCL=0
/D_ITERATOR_DEBUG_LEVEL=0
/D_SECURE_SCL_THROWS=0
/D_HAS_ITERATOR_DEBUGGING=0
#/D_HAS_EXCEPTIONS=0
/DVC_EXTRALEAN
#/DWIN32_LEAN_AND_MEAN
#/DWIN32_EXTRA_LEAN
/DSTRICT
/DNDEBUG
/DWIN32
/D_WIN32_WINNT=0x0500
#/D_WIN64
#/D_AMD64_



#/Qip
#/Oa
#/Qip
#/Qipo
#/fast
#/Qip-no-inlining
#/Qip-no-pinlining
#/Qopt-prefetch:4
#/Qprof-psa-use
#/Qalign
#/align
#/Qsfalign16
#/Qfnalign
#/Qnobss-init
#/Qprof-src-root-cwd
#/Qssp-

/Qprof-src-dir-
#/Qprof-dir OPT11
#/Qprof-gen
#/Qprof-use

/QIfist

#/IC:\!WD_G\INTEL_C\compiler45\include
/IC:\IntelB1054\include 
/IC:\VC71\include
#/I"C:\PROGRA~2\MICROS~1\Windows\v7.0A\Include"
#/I"C:\MSVS10\VC\include"
/I..\Lib

/link /OPT:REF /OPT:ICF=99 /LARGEADDRESSAWARE /SAFESEH:NO 
#/OPT:NOWIN98
#/link /FIXED:NO
#/link /MERGE:.rdata=.data
#/link /MERGE:.data1=.data

#user32.lib
#gdi32.lib
#comctl32.lib
#comdlg32.lib
#advapi32.lib
#shell32.lib
